@use "sass:math"; // не забываем добавить эту строку, чтобы функции math в миксине работали

@mixin recolor($color: #000) {
  $r: math.div(red($color), 255);
  $g: math.div(green($color), 255);
  $b: math.div(blue($color), 255);
  $a: alpha($color);

  // фолбек(fallback) на случай, если браузер не поддерживает data-url
  $lightness: lightness($color);
  filter: saturate(0%) brightness(0%) invert($lightness) opacity($a);

  // фильтр цвета
  $svg-filter-id: "recolor";
  filter: url('data:image/svg+xml;utf8,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
        <feColorMatrix type="matrix" values="\
         0 0 0 0 #{$r}\
         0 0 0 0 #{$g}\
         0 0 0 0 #{$b}\
         0 0 0 #{$a} 0\
        "/>\
      </filter>\
    </svg>\
    ##{$svg-filter-id}');
}

@import 'vars';
@import 'fonts';
@import 'global';
@import 'libs';
@import 'reset';

@import 'components/_header.scss';
@import 'components/_hero.scss';
@import 'components/_advantages.scss';
@import 'components/_top.scss';
@import 'components/_banners.scss';
@import 'components/_promo.scss';
@import 'components/_news.scss';
@import 'components/_breadcrumbs.scss';
@import 'components/_catalog.scss';

@import 'components/_footer.scss';