<section class="card section">
  <div class="container">
    <div class="card__inner">
      <ul class="card__slider">
        <li class="card__slide">
          <img class="card__img" src="images/card/3.png" alt="товар">
        </li>
        <li class="card__slide">
          <img class="card__img" src="images/card/3.png" alt="товар">
        </li>
        <li class="card__slide">
          <img class="card__img" src="images/card/3.png" alt="товар">
        </li>
      </ul>
      <div class="card__descriptions">
        <h1 class="card__title">
          Питахайя красная с белой мякотью
        </h1>
        <span class="bestseller">Хит</span>
        <div class="card__item">
          <span class="card__id">
            Код:
            <span class="card__id-num">0111111</span>
          </span>
          <div class="card__rating" data-rateyo-rating="4"></div>
          <span class="available">В наличии</span>
        </div>
        <div class="card__item">
          <span class="old-price">199 ₴</span>
          <span class="new-price">101 ₴</span>
        </div>
        <div class="card__item">
          <input class="card__num" type="number" min="0" value="1">
          <button class="card__btn btn" type="button">
            <svg width="24" height="23">
              <use xlink:href="images/sprite.svg#cart"></use>
            </svg>
            ДОБАВИТЬ В КОРЗИНУ
          </button>
          <button class="card__btn-favorite">
            <svg width="44" height="38">
              <use xlink:href="images/sprite.svg#favorite"></use>
            </svg>
          </button>
        </div>
        <h2 class="card__subtitle">
          Доставка и оплата
        </h2>
        <ul class="card__info">
          <li>
            Минимальная сумма заказа - 100 грн.
          </li>
          <li>
            Время доставки заказа - 60-120 мин.
          </li>
          <li>
            Оплата осуществляется только банковской картой.
          </li>
          <li>
            Окончательная сумма заказа формируется после сбора товаров.
          </li>
        </ul>
        <a class="card__link" href="#">Подробнее</a>
      </div>
    </div>
    <div class="tabs">
      <ul class="tabs__title">
        <li class="tabs__title-item">
          <a class="tabs__title-link tabs__title-link--active" href="#tab-1">
            ОПИСАНИЕ
          </a>
        </li>
        <li class="tabs__title-item">
          <a class="tabs__title-link" href="#tab-2">
            ХАРАКТЕРИСТИКИ
          </a>
        </li>
        <li class="tabs__title-item">
          <a class="tabs__title-link" href="#tab-3">
            ОТЗЫВЫ (2)
          </a>
        </li>
      </ul>
      <ul class="tabs__content">
        <li class="tabs__content-item describe " id="tab-1">
          <p>
            Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует укреплению
            иммунной
            системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ. Оказывает
            противовоспалительное
            действие, так как фрукт богат антиоксидантами. При употреблении питахайи, понижается уровень сахара в крови,
            улучшается
            зрение и работа сердечно–сосудистой системы. Так как фрукт низкокалорийный и состоит на 90% из воды,
            способствует
            снижению веса.
          </p>
          <p>
            Витамины: С, Е, РР, витамины группы В
          </p>
          <p>Микроэлементы: железо, калий, кальций, магний, фосфор
          </p>
          <p>
            Внешний вид товара может отличаться от изображений, представленных на сайте.
          </p>
        </li>
        <li class="tabs__content-item characteristic" id="tab-2">
          <div class="characteristic__item">
            Вес:
            <span>250-350 г;</span>
          </div>
          <div class="characteristic__item">
            Калорийность (на 100г):
            <span>50 ккал;</span>
          </div>
          <div class="characteristic__item">
            Условия хранения:
            <span>температура от +3 до +8;</span>
          </div>
          <div class="characteristic__item">
            Другие названия:
            <span>Драконов фрукт, Глаз дракона;span>
          </div>
          <div class="characteristic__item">
            Страна происхождения:
            <span>Вьетнам;</span>
          </div>
          <div class="characteristic__item">
            Срок хранения:
            <span>до 5 дней;</span>
          </div>
        </li>
        <li class="tabs__content-item review tabs__content-item--active" id="tab-3">
          <h2 class="review__title">
            МНЕНИЯ НАШИХ КЛИЕНТОВ
          </h2>
          <ul class="review__list">
            <li class="review__item">
              <div class="review__item-top">
                <img class="review__img" src="images/review/review-img.jpg" alt="Фото клиента">
                <div class="review__info">
                  <span class="review__name">Андрей</span>
                  <date class="review__date">10.06.2021</date>
                </div>
                <div class="review__star" data-rateyo-rating="4"></div>
              </div>
              <div class="review__item-bottom">
                <p class="review__text">
                  Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!))
                </p>
              </div>
            </li>
            <li class="review__item">
              <div class="review__item-top">
                <img class="review__img" src="images/review/review-img.jpg" alt="Фото клиента">
                <div class="review__info">
                  <span class="review__name">Екатерина Белая</span>
                  <date class="review__date">7.06.2021</date>
                </div>
                <div class="review__star" data-rateyo-rating="5"></div>
              </div>
              <div class="review__item-bottom">
                <p class="review__text">
                  Цвет, конечно, очень насыщенный! Ожидаешь, что и вкус будет такой же яркий (просто взрыв), но нет.
                  Вкус
                  "сдержанно-сладкий" и очень-очень свежий! Рад, что есть такая возможность - пробовать экзотические
                  фрукты.
                </p>
              </div>
            </li>
          </ul>
          <h2 class="review__title">
            ОСТАВИТЬ ОТЗЫВ
          </h2>
          <form class="message" action="#">
            <label class="message__raiting">
              Ваша оценка *
              <div class="message__stars"></div>
            </label>
            <div class="message__item">
              <label class="message__label-textarea">
                Ваш отзыв *
                <textarea class="message__textarea" placeholder="Введите текст отзыва" required></textarea>
              </label>
              <div class="message__inputs">
                <label class="message__label-input">
                  Имя
                  <input class="message__input " placeholder="Введите ваше имя" type="text">
                </label>
                <label class="message__label-input">
                  Email *
                  <input class="message__input" placeholder="youremail@mail.com" type="email" required>
                </label>
              </div>
            </div>
            <label class="message__label-checkbox">
              <input class="message__input--hidden " type="checkbox">
              <span class="message__input--show checkbox"></span>
              <p class="message__text">
                Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
              </p>
            </label>
            <button class="message__btn btn" type="submit">
              Оставить отзыв
            </button>
          </form>
        </li>
      </ul>
    </div>
    
  </div>
</section>