<section class="top section">
  <div class="container">
    <h2 class="top__title title">
      Топовые товары
    </h2>
    <div class="top__content">
      <ul class="top-nav">
        <li class="top-nav__item">
          <button class="top-nav__btn" type="button" data-filter="all">
            Все товары
          </button>
        </li>
        <li class="top-nav__item">
          <button class="top-nav__btn" type="button" data-filter=".category-a">
            Фрукты
          </button>
        </li>
        <li class="top-nav__item">
          <button class="top-nav__btn" type="button" data-filter=".category-b">
            ОВОЩИ
          </button>
        </li>
        <li class="top-nav__item">
          <button class="top-nav__btn" type="button" data-filter=".category-c">
            Напитки
          </button>
        </li>
        <li class="top-nav__item">
          <button class="top-nav__btn" type="button" data-filter=".category-d">
            БАКАЛЕЯ
          </button>
        </li>
      </ul>
      <ul class="top__catalog">
        <li class="top__item mix category-a">
          <article class="catalog-card">
            <div class="catalog-card__badges badges">
              <span class="new">НОВИНКА</span>
              <span class="discount">-50%</span>
            </div>
            <button class="catalog-card__top-btn" type="button">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#favorite"></use>
              </svg>
            </button>
            <a class="catalog-card__link" href="#">
              <img class="catalog-card__img" width="300" height="225" src="images/catalog/1.png" alt="Товар">
              <div class="catalog-card__link--hover">
                <svg width="32" height="28">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </div>
            </a>
            <div class="catalog-card__wraper">
              <h3 class="catalog-card__title">Ананас, 1кг</h3>
              <div class="catalog-card__bottom">
                <div class="catalog-card__price">
                  <span class="catalog-card__old-price old-price">199 ₴</span>
                  <span class="catalog-card__new-price new-price">99 ₴</span>
                </div>
                <button class="catalog-card__bottom-btn" type="button">
                  <svg width="16" height="16">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="top__item mix category-a">
          <article class="catalog-card">
            <button class="catalog-card__top-btn" type="button">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#favorite"></use>
              </svg>
            </button>
            <a class="catalog-card__link" href="#">
              <img class="catalog-card__img" width="300" height="225" src="images/catalog/2.png" alt="Товар">
              <div class="catalog-card__link--hover">
                <svg width="32" height="28">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </div>
            </a>
            <div class="catalog-card__wraper">
              <h3 class="catalog-card__title">Лимон, 1кг</h3>
              <div class="catalog-card__bottom">
                <div class="catalog-card__price">
                  <span class="catalog-card__new-price new-price">49 ₴</span>
                </div>
                <button class="catalog-card__bottom-btn" type="button">
                  <svg width="16" height="16">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="top__item mix category-b">
          <article class="catalog-card">
            <div class="catalog-card__badges badges">
              <span class="bestseller">Хит</span>
            </div>
            <button class="catalog-card__top-btn" type="button">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#favorite"></use>
              </svg>
            </button>
            <a class="catalog-card__link" href="#">
              <img class="catalog-card__img" width="300" height="225" src="images/catalog/3.png" alt="Товар">
              <div class="catalog-card__link--hover">
                <svg width="32" height="28">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </div>
            </a>
            <div class="catalog-card__wraper">
              <h3 class="catalog-card__title">Питахайя красная с белой мякотью, 1шт</h3>
              <div class="catalog-card__bottom">
                <div class="catalog-card__price">
                  <span class="catalog-card__new-price new-price">101 ₴</span>
                </div>
                <button class="catalog-card__bottom-btn" type="button">
                  <svg width="16" height="16">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="top__item mix category-c">
          <article class="catalog-card">
            <button class="catalog-card__top-btn" type="button">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#favorite"></use>
              </svg>
            </button>
            <a class="catalog-card__link" href="#">
              <img class="catalog-card__img" width="300" height="225" src="images/catalog/4.png" alt="Товар">
              <div class="catalog-card__link--hover">
                <svg width="32" height="28">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </div>
            </a>
            <div class="catalog-card__wraper">
              <h3 class="catalog-card__title">Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт</h3>
              <div class="catalog-card__bottom">
                <div class="catalog-card__price">
                  <span class="catalog-card__new-price new-price">60 ₴</span>
                </div>
                <button class="catalog-card__bottom-btn" type="button">
                  <svg width="16" height="16">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="top__item mix category-d">
          <article class="catalog-card">
            <div class="catalog-card__badges badges">
              <span class="bestseller">Хит</span>
            </div>
            <button class="catalog-card__top-btn" type="button">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#favorite"></use>
              </svg>
            </button>

            <a class="catalog-card__link" href="#">
              <img class="catalog-card__img" width="300" height="225" src="images/catalog/5.png" alt="Товар">
              <div class="catalog-card__link--hover">
                <svg width="32" height="28">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </div>
            </a>
            <div class="catalog-card__wraper">
              <h3 class="catalog-card__title">Морковь молодая с бабушкиной грядки, 1кг</h3>
              <div class="catalog-card__bottom">
                <div class="catalog-card__price">
                  <span class="catalog-card__new-price new-price">19 ₴</span>
                </div>
                <button class="catalog-card__bottom-btn" type="button">
                  <svg width="16" height="16">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="top__item mix category-d">
          <article class="catalog-card">
            <div class="catalog-card__badges badges">
              <span class="discount">-50%</span>
            </div>
            <button class="catalog-card__top-btn" type="button">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#favorite"></use>
              </svg>
            </button>
            <a class="catalog-card__link" href="#">
              <img class="catalog-card__img" width="300" height="225" src="images/catalog/6.png" alt="Товар">
              <div class="catalog-card__link--hover">
                <svg width="32" height="28">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </div>
            </a>
            <div class="catalog-card__wraper">
              <h3 class="catalog-card__title">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...</h3>
              <div class="catalog-card__bottom">
                <div class="catalog-card__price">
                  <span class="catalog-card__old-price old-price">49 ₴</span>
                  <span class="catalog-card__new-price new-price">29 ₴</span>
                </div>
                <button class="catalog-card__bottom-btn" type="button">
                  <svg width="16" height="16">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="top__item mix category-b">
          <article class="catalog-card">
            <div class="catalog-card__badges badges">
              <span class="new">НОВИНКА</span>
            </div>
            <button class="catalog-card__top-btn" type="button">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#favorite"></use>
              </svg>
            </button>

            <a class="catalog-card__link" href="#">
              <img class="catalog-card__img" width="300" height="225" src="images/catalog/7.png" alt="Товар">
              <div class="catalog-card__link--hover">
                <svg width="32" height="28">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </div>
            </a>
            <div class="catalog-card__wraper">
              <h3 class="catalog-card__title">Кофе с коноплей органический Caffé Salomoni 250г</h3>
              <div class="catalog-card__bottom">
                <div class="catalog-card__price">
                  <span class="catalog-card__new-price new-price">219 ₴</span>
                </div>
                <button class="catalog-card__bottom-btn" type="button">
                  <svg width="16" height="16">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="top__item mix category-c">
          <article class="catalog-card">
            <div class="catalog-card__badges badges">
              <span class="new">НОВИНКА</span>
            </div>
            <button class="catalog-card__top-btn" type="button">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#favorite"></use>
              </svg>
            </button>
            <a class="catalog-card__link" href="#">
              <img class="catalog-card__img" width="300" height="225" src="images/catalog/8.png" alt="Товар">
              <div class="catalog-card__link--hover">
                <svg width="32" height="28">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </div>
            </a>
            <div class="catalog-card__wraper">
              <h3 class="catalog-card__title">Перец оранжевый, 1кг</h3>
              <div class="catalog-card__bottom">
                <div class="catalog-card__price">
                  <span class="catalog-card__new-price new-price">100 ₴</span>
                </div>
                <button class="catalog-card__bottom-btn" type="button">
                  <svg width="16" height="16">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <button class="top__btn btn" type="button">Показать еще</button>
  </div>
</section>