.advantages {

  &__list {
    width: 100%;
    padding: 50px 15px 30px 15px;
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;

    @media (max-width: $lg) {
      flex-direction: column;
      align-items: flex-start;
      max-width: none;
    }
  }

  .scooter::before {
    background-image: url(.././images/icons/scooter.svg);
  }

  .return::before {
    background-image: url(.././images/icons/return-box.svg);
  }

  .time::before {
    background-image: url(.././images/icons/24-hours.svg);
  }

  &__item {
    padding-left: 75px;
    position: relative;
    margin-right: 65px;
    max-width: 264px;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $lg) {
      margin-right: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      left: 0;
      top: 0;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  &__text {
    font-weight: 400;
    color: $dark-500;
  }
}