.footer {
  width: 100%;
  background-color: $dark-800;
  padding: 30px 0;

  .logo {
    padding-bottom: 30px;
  }
}

.footer-top {
  display: flex;
  align-items: center;

  &__label {
    display: block;
    margin-bottom: 18px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
  }

  &__form {
    max-width: 306px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 150px;
  }

  &__input {
    width: 180px;
    padding: 11px 11px 11px 11px;
    border: none;
    border-radius: 6px 0px 0px 6px;
    outline: transparent;
  }

  &__btn {
    padding: 13px 16px;
    border-radius: 0px 6px 6px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
    }

    &:hover {
      background-color: #4D800C;
    }

    &:active {
      background: #63A60E;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0 75px;
  }

  &__item {
    margin-bottom: 18px;
  }

  &__link {
    color: #ffffff;
    font-weight: 400;
    transition: all 0.3s;

    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      background-color: none;
      box-shadow: none;
    }
  }
}

.socials {
  display: flex;

  &__item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;

    svg {
      transition: all 0.3s;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-200;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      box-shadow: none;

      svg {
        filter: invert(4%) sepia(6%) saturate(761%) hue-rotate(36deg) brightness(98%) contrast(91%);
      }
    }
  }
}