.hero {
  margin-top: 160px;

  @media (max-width: $md) {
    margin-top: 121px;
  }

  &__content {
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &__wrapper {
    height: 100%;
  }

  &__title {
    max-width: 761px;
    font-family: 'Ruda';
    font-weight: 900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $dark-500;

    @media (max-width: $md) {
      font-size: 40px;
      font-weight: 800;
    }

    @media (max-width: $sm) {
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__span {
    color: $red-900;
  }

  &__text {
    color: $dark-500;
    padding-bottom: 32px;
  }

  .slick-prev,
  .slick-next {
    background-color: rgba(255, 255, 255, 0.8);
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .slick-prev {
    left: 60px;
  }

  .slick-next {
    right: 60px;
  }

  &__item {
    width: 100%;
    height: 55vh;
    height: 60vh;
    display: grid !important;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__btn {
    font-weight: 400;
    transition: all 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      border-radius: 6px;
    }

    &:hover {
      background-color: #4D810C;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }

    @media (max-width: $sm) {
      font-size: 14px;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;

    li {
      line-height: 0;
      margin-right: 12px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border: 1px solid $silver-600;
      border-radius: 50%;

      button {
        font-size: 0;
        width: 10px;
        height: 10px;
      }
    }

    .slick-active {
      background-color: $green-900;
      border: 1px solid $green-900;
    }
  }
}
