.news {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: inline;
    width: auto;
  }

  &__link-top {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    padding-bottom: 2px;
    color: $green-900;
    border-bottom: solid 2px $green-900;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media (max-width: $md) {
      gap: 15px;
    }
  }

  &__item {
    max-width: 410px;
    position: relative;
  }

  &__link {
    display: block;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

    &:hover {
      .news__text {
        color: $green-900;
      }
    }
  }

  &__text {
    padding: 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    transition: all 0.3s;
  }

  &__time {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 20px;
    width: 64px;
    height: 76px;
    background-color: #fff;


  }

  &__time-mounth {
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.1em;
  }

  &__time-day {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
  }
}