.stock {
  width: 100%;
  background-color: $silver-100;
  padding: 72px 0;

  @media (max-width: $sm) {
    padding: 48px 0;
  }

  &__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    li+li {
      margin-left: 30px;
    }
  }

  &__filter-btn {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-500;
    margin-bottom: 48px;
    outline: transparent;
    cursor: pointer;
    transition: all 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 3px #e0edcf;
      border-radius: 3px;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      box-shadow: 0px 0px 0px 3px rgb(0 0 0 / 0%);
    }
  }

  &__product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;

    @media (max-width: $xl) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    @media (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    @media (max-width: $sm) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
      margin-bottom: 25px;
    }
  }

  &__product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 12px;
    background-color: #fff;
    border: 1px solid $silver-600;
    border-radius: 6px;
    transition: all 0.5s;

    &:hover {
      border: 1px solid $green-900;
    }
  }

  &__product-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__product-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: $dark-500;
  }

  &__product-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__new-price {
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: $dark-500;
  }

  &__old-price {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: $silver-600;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    transition: all 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      border-radius: 6px;
    }

    &:hover {
      background-color: #4D810C;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .badges {
    position: absolute;
    top: 13px;
    left: 13px;
  }
}

.brands {
  padding: 72px 0;


  @media (max-width: $md) {
    overflow-x: scroll;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md) {
      width: 800px;
    }
  }

  &__item {
    margin: 0 auto;
  }

  &__link {
    opacity: 0.5;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}