.top {
  &__catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;

    @media (max-width: $xl) {
      grid-gap: 10px;
    }

    @media (max-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
    }
  }

  &__item {
    height: 100%;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    color: $green-900;
    border: 1px solid $green-900;
    border-radius: 6px;
    transition: all 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
      color: rgba(99, 166, 14, 0.5);
      box-shadow: none;
    }
  }
}

.top-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  width: 100%;
  margin-bottom: 48px;

  &__item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-500;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    outline: transparent;
    transition: all 0.3s;

    @media (max-width: $sm) {
      font-size: 14px;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      border-bottom: 3px solid $green-200;
      box-shadow: 0px 0px 0px 3px transparent;
    }
  }
}

.catalog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 57px;
  height: 409px;
  padding-bottom: 18px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border 0.3s;

  &:hover {
    border: 1px solid $green-900;
  }

  @media (max-width: $md) {
    height: 370px;
  }

  @media (max-width: $sm) {
    height: 344px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 38px;
    margin: 12px 12px 7px 12px;
  }

  &__badges {
    position: absolute;
    top: 18px;
    left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;

    span+span {
      margin-top: 6px;
    }
  }

  &__top-btn {
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 12px;
    transition: all 0.3s;
    outline: transparent;

    svg {
      filter: invert(96%) sepia(0%) saturate(173%) hue-rotate(176deg) brightness(83%) contrast(87%);
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px #E0EDCF;
    }

    &:hover {
      filter: invert(64%) sepia(99%) saturate(1204%) hue-rotate(1deg) brightness(105%) contrast(103%);
    }

    &:active {
      opacity: 0.5;
      box-shadow: none;
    }
  }

  &__wraper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 18px;
  }

  &__title {
    letter-spacing: 0.03em;
    @include line-clamp(3);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__bottom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: $green-900;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    order: 2;
    outline: transparent;
    transition: all 0.3s;

    svg {
      filter: invert(99%) sepia(10%) saturate(0%) hue-rotate(309deg) brightness(116%) contrast(100%);
      transition: all 0.3s;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
    }

    &:hover {
      background-color: #4D800C;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

      svg {
        opacity: 0.5;
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: column;

    span+span {
      margin-top: 3px;
    }
  }

  &__link--hover {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.5s;

    svg {
      width: 20px;
      height: 20px;
      filter: invert(58%) sepia(46%) saturate(5215%) hue-rotate(54deg) brightness(101%) contrast(89%);
    }
  }

  &__link {
    position: relative;
    overflow: hidden;
    margin-top: 7px;
    margin-bottom: 18px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: all 0.3s;
    }

    &:hover {
      .catalog-card__link--hover {
        bottom: 40%;
      }

      &::after {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__old-price {
    font-weight: 400;
  }

  &__new-price {
    font-weight: 400;
  }
}

.mixitup-control-active {
  border-bottom: 3px solid $green-200;
}