<section class="banners section">
  <div class="container">
    <ul class="banners__content">
      <li class="banners__item banners__item--white" style="background-image: url('images/banners/1.jpg');">
        <span class="banners__text">
          СВЕЖАЙШИЕ ФРУКТЫ
        </span>
        <h3 class="banners__title">
          НАЧНИ ФРУКТОВОЕ ЛЕТО
          ВСЕГО От 19 ₴
        </h3>
        <a href="#" class="banners__link">
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </li>
      <li class="banners__item" style="background-image: url('images/banners/2.jpg');">
        <span class="banners__text">
          СВЕЖАЙШИЕ ФРУКТЫ
        </span>
        <h3 class="banners__title">
          ОВОЩЕПАД
          ДО -50%
        </h3>
        <a href="#" class="banners__link" >
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </li>
      <li class="banners__item" style="background-image: url('images/banners/3.jpg');">
        <span class="banners__text">
          НЯМ-НЯМ
        </span>
        <h3 class="banners__title">
          СВЕЖИЙ
          ХЛЕБЧИК
        </h3>
        <a href="#" class="banners__link" >
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </li>
    </ul>
  </div>
</section>