<section class="catalog section">
  <div class="container">
    <h1 class="catalog__title ">
      Каталог товаров
    </h1>
    <div class="catalog__inner">
      <ul class="catalog-filters">
        <li class="catalog-filters__item category">
          <button class="catalog-filters__title category-btn" type="button">
            Категории
          </button>
          <form class="category__form category__form--active" action="#">
            <label class="category__label">
              <input class="category__input" type="radio" name="category">
              <span class="category__text">
                Овощи и фрукты
              </span>
            </label>
            <label class="category__label">
              <input class="category__input" type="radio" name="category">
              <span class="category__text">
                Бакалея
              </span>
            </label>
            <label class="category__label">
              <input class="category__input" type="radio" name="category">
              <span class="category__text">
                Молочные продукты
              </span>
            </label>
            <label class="category__label">
              <input class="category__input" type="radio" name="category">
              <span class="category__text">
                Хлеб
              </span>
            </label>
            <label class="category__label">
              <input class="category__input" type="radio" name="category">
              <span class="category__text">
                Мясо
              </span>
            </label>
            <label class="category__label">
              <input class="category__input" type="radio" name="category">
              <span class="category__text">
                Колбасаы
              </span>
            </label>
            <label class="category__label">
              <input class="category__input" type="radio" name="category">
              <span class="category__text">
                Рыба
              </span>
            </label>
            <label class="category__label">
              <input class="category__input" type="radio" name="category">
              <span class="category__text">
                Алкоголь
              </span>
            </label>
          </form>
        </li>
        <li class="catalog-filters__item offers">
          <button class="catalog-filters__title offers-btn" type="button">
            Предложения
          </button>
          <form class="offers__form" action="#">
            <label class="offers__label">
              <input class="offers__input" type="checkbox">
              <span class="offers__checkbox"></span>
              <span class="offers__text">
                Со скидкой
              </span>
            </label>
            <label class="offers__label">
              <input class="offers__input" type="checkbox">
              <span class="offers__checkbox"></span>
              <span class="offers__text">
                Новинка
              </span>
            </label>
            <label class="offers__label">
              <input class="offers__input" type="checkbox">
              <span class="offers__checkbox"></span>
              <span class="offers__text">
                Хит
              </span>
            </label>
          </form>
        </li>
        <li class="catalog-filters__item filter-price">
          <button class="catalog-filters__title filter-price-btn" type="button">
            Предложения
          </button>
          <form class="filter-price__form" action="#">
            <label class="filter-price__label">
              <div class="filter-price__box">
                от
                <input class="filter-price__from" type="text">
                ₽
              </div>
              <div class="filter-price__box">
                до
                <input class="filter-price__to" type="text">
                ₽
              </div>
            </label>
            <input class="filter-price__input" type="text">
          </form>
      </ul>
      <div class="catalog-content">
        <div class="catalog-content__filters">
          <form class="catalog-content__form" action="#">
            <select class="catalog-contentr__select-name  select-style">
              <option value="">По названию</option>
              <option value="">2</option>
              <option value="">3</option>
            </select>
            <select class="catalog-content__select-number select-style">
              <option value="">по 12</option>
              <option value="">2</option>
              <option value="">3</option>
            </select>
          </form>
          <button class="catalog-content__filters-btn ">

          </button>
          <button class="catalog-content__filters-btn ">

          </button>
        </div>
      </div>
    </div>
  </div>
</section>