<div class="header-top">
  <div class="container">
    <div class="header-top__content">
      <ul class="header-top__list">
        <li class="header-top__item-info ">
          <a href="#" class="header-top__link address">
            АДРЕС И ВРЕМЯ ДОСТАВКИ
          </a>
        </li>
        <li class="header-top__item-info ">
          <a href="#" class="header-top__link phone">
            ГОРЯЧАЯ ЛИНИЯ 24/7
          </a>
        </li>
      </ul>
      <ul class="header-top__list">
        <li class="header-top__item-nav">
          <a href="" class="header-top__link">
            ДОСТАВКА
          </a>
        </li>
        <li class="header-top__item-nav">
          <a href="" class="header-top__link">
            О НАС
          </a>
        </li>
        <li class="header-top__item-nav">
          <a href="" class="header-top__link">
            НОВОСТИ
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<header class="header">
  <div class="container">
    <div class="header__content">
      <a class="logo" href="#">
        <img class="logo" src=".././images/icons/logo.svg" alt="Логотип">
      </a>
      <button class="header__btn">
        Каталог продуктов
      </button>
      <form class="header__form"> 
        <button class="header__input-btn--search"  type="submit">
          <svg width="20px" height="20px">
            <use xlink:href=".././images/sprite.svg#search"></use>
          </svg>
        </button>
        <input class="header__input" type="text"  placeholder="Найти в магазине ..." required>
        <button class="header__input-btn" type="submit">
          ПОИСК
        </button>
      </form>
      <ul class="user-nav">
        <li class="user-nav__item">
          <a class="user-nav__link user" href="#">
            <svg width="32" height="28">
              <use xlink:href=".././images/sprite.svg#user-link"></use>
            </svg>
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__link favorite" href="#">
            <svg width="32" height="28">
              <use xlink:href=".././images/sprite.svg#favorite-link"></use>
            </svg>
            <span class="user-nav__num">12</span>
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__link cart" href="#">
            <svg width="32" height="28">
              <use xlink:href=".././images/sprite.svg#cart-link"></use>
            </svg>
            <span class="user-nav__num">12</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</header>
