<section class="section hero">
  <div class="hero__slider">
    <div class="hero__slide" style="background-image: url(images/hero-slider/slider-1.jpg);">
      <div class="hero__wrapper">
        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title">
              СВЕЖАЧОК ВАМ в ХАТУ <span class="hero__span">Скидка -50%</span>
            </h2>
            <div class="hero__text">
              <p>Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!</p>
            </div>
            <button class="hero__btn btn">
              Купить сейчас
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__slide" style="background-image: url(images/hero-slider/slider-2.jpg);">
      <div class="hero__wrapper">
        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title">
              НАКРУТИ СЕБЕ ТОМАТОВ <span class="hero__span">АКЦИЯ: 3 кг по цене 1</span>
            </h2>
            <div class="hero__text">
              <p>Только с 12 по 15 июля скидка на домашние помидорчики</p>
            </div>
            <button class="hero__btn btn">
              Купить сейчас
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__slide" style="background-image: url(images/hero-slider/slider-3.jpg);">
      <div class="hero__wrapper">
        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title">
              Пусть остальные
              позеленеют от зависти<span class="hero__span">Распродажа зелени</span>
            </h2>
            <div class="hero__text">
              <p></p>
            </div>
            <button class="hero__btn btn">
              Купить сейчас
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="advantages">
    <li class="advantages__item scooter">
      <h3 class="advantages__title">
        Бесплатная доставка
      </h3>
      <p class="advantages__text">
        Для заказов на сумму от 500 ₴
      </p>
    </li>
    <li class="advantages__item return">
      <h3 class="advantages__title">
        Возврат товара
      </h3>
      <p class="advantages__text">
        Если товары были испорчены
      </p>
    </li>
    <li class="advantages__item time">
      <h3 class="advantages__title">
        Поддержка 24/7
      </h3>
      <p class="advantages__text">
        Лучшие операторы
      </p>
    </li>
  </ul>
</section>