<section class="news section">
  <div class="container">
    <div class="news__top">
      <h2 class="news__title title">
        НАШИ НОВОСТИ
      </h2>
      <a class="news__link-top" href="#">
        ВСЕ НОВОСТИ
      </a>
    </div>
    <ul class="news__content">
      <li class="news__item">
        <a class="news__link" href="#">
          <img class="news__img" src="images/news/1.jpg" width="410" height="240" alt="Картина на тему новости">
          <div class="news__text">
            <p>
              Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не разобрали!
            </p>
          </div>
          <time class="news__time">
            <span class="news__time-mounth">ИЮЛЬ</span>
            <span class="news__time-day">15</span>
          </time>
        </a>
      </li>

      <li class="news__item">
        <a class="news__link" href="№">
          <img class="news__img" src="images/news/1.jpg" width="410" height="240" alt="Картина на тему новости">
          <div class="news__text">
            <p>
              Шикарнейший выбор манго в нашем онлайн-маркете
            </p>
          </div>
          <time class="news__time">
            <span class="news__time-mounth">МАЙ</span>
            <span class="news__time-day">07</span>
          </time>
        </a>
      </li>
      <li class="news__item">
        <a class="news__link" href="№">
          <img class="news__img" src="images/news/1.jpg" width="410" height="240" alt="Картина на тему новости">
          <div class="news__text">
            <p>
              Всё, что вы хотели знать о папайя
            </p>
          </div>
          <time class="news__time">
            <span class="news__time-mounth">ФЕВРФЛЬ</span>
            <span class="news__time-day">20</span>
          </time>
        </a>
      </li>
    </ul>
  </div>
</section>