<section class="promo section">
  <div class="stock">
    <div class="container">
      <h2 class="stock__title title">
        Акции
      </h2>
      <div class="stock__content">
        <ul class="stock__filter">
          <li class="stock__filter-item">
            <button class="stock__filter-btn" type="button" data-filter="all">
              Все товары
            </button>
          </li>
          <li class="stock__filter-item">
            <button class="stock__filter-btn" type="button" data-filter=".new">
              НовИНКИ
            </button>
          </li>
          <li class="stock__filter-item">
            <button class="stock__filter-btn" type="button" data-filter=".hot">
              ХИТЫ
            </button>
          </li>
        </ul>
        <ul class="stock__product">
          <li class="stock__product-item mix hot">
            <img class="stock__img" src=".././images/stock/1.png" width="100" height="100" alt="Товар">
            <div class="stock__product-content">
              <h3 class="stock__product-title">
                Кофе с коноплей органический Caffé Salomoni 250г
              </h3>
              <div class="stock__product-wrapper">
                <span class="available">В НАЛИЧИИ</span>
                <span class="stock__new-price new-price">99₴</span>
                <span class="stock__old-price old-price">199 ₴</span>
                <div class="rating">
                  <span class="rating__counter">4.5</span>
                  <div class="rating__star" data-rateyo-rating="4.5"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="stock__product-item mix new">
            <div class="badges">
              <span class="new">НОВИНКА</span>
            </div>
            <img class="stock__img" src=".././images/stock/1.png" width="100" height="100" alt="Товар">
            <div class="stock__product-content">
              <h3 class="stock__product-title">
                Кофе с коноплей органический Caffé Salomoni 250г
              </h3>
              <div class="stock__product-wrapper">
                <span class="ends">ЗАКАНЧИВАЕТСЯ</span>
                <span class="stock__new-price new-price">99₴</span>
                <span class="stock__old-price old-price">199 ₴</span>
                <div class="rating">
                  <span class="rating__counter">4.5</span>
                  <div class="rating__star" data-rateyo-rating="4.5"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="stock__product-item mix hot">
            <div class="badges">
              <span class="new">НОВИНКА</span>
            </div>
            <img class="stock__img" src=".././images/stock/1.png" width="100" height="100" alt="Товар">
            <div class="stock__product-content">
              <h3 class="stock__product-title">
                Кофе с коноплей органический Caffé Salomoni 250г
              </h3>
              <div class="stock__product-wrapper">
                <span class="not-available">НЕТ В НАЛИЧИИ</span>
                <span class="stock__new-price new-price">99₴</span>
                <span class="stock__old-price old-price">199 ₴</span>
                <div class="rating">
                  <span class="rating__counter">4.5</span>
                  <div class="rating__star" data-rateyo-rating="4.5"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="stock__product-item mix hot">
            <div class="badges">
              <span class="bestseller">НОВИНКА</span>
            </div>
            <img class="stock__img" src=".././images/stock/1.png" width="100" height="100" alt="Товар">
            <div class="stock__product-content">
              <h3 class="stock__product-title">
                Кофе с коноплей органический Caffé Salomoni 250г
              </h3>
              <div class="stock__product-wrapper">
                <span class="available">НАЛИЧИИ</span>
                <span class="stock__new-price new-price">99₴</span>
                <span class="stock__old-price old-price">199 ₴</span>
                <div class="rating">
                  <span class="rating__counter">4.5</span>
                  <div class="rating__star" data-rateyo-rating="4.5"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="stock__product-item mix hot">
            <div class="badges">
              <span class="bestseller">НОВИНКА</span>
            </div>
            <img class="stock__img" src=".././images/stock/1.png" width="100" height="100" alt="Товар">
            <div class="stock__product-content">
              <h3 class="stock__product-title">
                Кофе с коноплей органический Caffé Salomoni 250г
              </h3>
              <div class="stock__product-wrapper">
                <span class="available">НАЛИЧИИ</span>
                <span class="stock__new-price new-price">99₴</span>
                <span class="stock__old-price old-price">199 ₴</span>
                <div class="rating">
                  <span class="rating__counter">4.5</span>
                  <div class="rating__star" data-rateyo-rating="4.5"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="stock__product-item mix new">
            <div class="badges">
              <span class="new">НОВИНКА</span>
            </div>
            <img class="stock__img" src=".././images/stock/1.png" width="100" height="100" alt="Товар">
            <div class="stock__product-content">
              <h3 class="stock__product-title">
                Кофе с коноплей органический Caffé Salomoni 250г
              </h3>
              <div class="stock__product-wrapper">
                <span class="ends">ЗАКАНЧИВАЕТСЯ</span>
                <span class="stock__new-price new-price">99₴</span>
                <span class="stock__old-price old-price">199 ₴</span>
                <div class="rating">
                  <span class="rating__counter">4.5</span>
                  <div class="rating__star" data-rateyo-rating="4.5"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="stock__product-item mix new">
            <div class="badges">
              <span class="new">НОВИНКА</span>
            </div>
            <img class="stock__img" src=".././images/stock/1.png" width="100" height="100" alt="Товар">
            <div class="stock__product-content">
              <h3 class="stock__product-title">
                Кофе с коноплей органический Caffé Salomoni 250г
              </h3>
              <div class="stock__product-wrapper">
                <span class="available">В НАЛИЧИИ</span>
                <span class="stock__new-price new-price">99₴</span>
                <span class="stock__old-price old-price">199 ₴</span>
                <div class="rating">
                  <span class="rating__counter">4.5</span>
                  <div class="rating__star" data-rateyo-rating="4.5"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="stock__product-item mix new">
            <div class="badges">
              <span class="new">НОВИНКА</span>
            </div>
            <img class="stock__img" src=".././images/stock/1.png" width="100" height="100" alt="Товар">
            <div class="stock__product-content">
              <h3 class="stock__product-title">
                Кофе с коноплей органический Caffé Salomoni 250г
              </h3>
              <div class="stock__product-wrapper">
                <span class="available">В НАЛИЧИИ</span>
                <span class="stock__new-price new-price">99₴</span>
                <span class="stock__old-price old-price">199 ₴</span>
                <div class="rating">
                  <span class="rating__counter">4.5</span>
                  <div class="rating__star" data-rateyo-rating="4.5"></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="stock__btn btn">Показать еще</button>
    </div>
  </div>
  <div class="brands">
    <div class="container">
      <ul class="brands__content">
        <li class="brands__item">
          <a class="brands__link" href="#">
            <img src=".././images/brands/1.svg" width="80" alt="Бренд">
         </a>
       </li>
        <li class="brands__item">
          <a class="brands__link" href="#">
            <img src="images/brands/1.svg" width="80" alt="Бренд">
        </a>
      </li>
        <li class="brands__item">
          <a class="brands__link" href="#">
            <img src="images/brands/1.svg" width="80" alt="Бренд">
          </a>
        </li>
        <li class="brands__item">
          <a class="brands__link" href="#">
            <img src="images/brands/1.svg" width="80" alt="Бренд">
          </a>
        </li>
        <li class="brands__item">
          <a class="brands__link" href="#">
            <img src="images/brands/1.svg" width="80" alt="Бренд">
          </a>
        </li>
        <li class="brands__item">
          <a class="brands__link" href="#">
            <img src="images/brands/1.svg" width="80" alt="Бренд">
        </a>
          </li>
      </ul>
    </div>
  </div>
</section>