<section class="recent section">
  <div class="container">
    <div class="recent__top">
      <h2 class="recent__title title">
        ВАС МОЖЕТ ЗАИНТЕРЕСОВАТь
      </h2>
    </div>
    <ul class="recent__slider">
      <li class="recent__slider-item">
        <article class="catalog-card">
          <div class="catalog-card__badges badges">
            <span class="new">НОВИНКА</span>
            <span class="discount">-50%</span>
          </div>
          <button class="catalog-card__top-btn" type="button">
            <svg width="32" height="28">
              <use xlink:href="images/sprite.svg#favorite"></use>
            </svg>
          </button>
          <a class="catalog-card__link" href="#">
            <img class="catalog-card__img" width="300" height="225" src="images/catalog/1.png" alt="Товар">
            <div class="catalog-card__link--hover">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
            </div>
          </a>
          <div class="catalog-card__wraper">
            <div class="catalog-card__wraper-top">
              <span class="available">В наличии</span>
              <div class="rating">
                <span class="rating__counter">4.5</span>
                <div class="rating__star" data-rateyo-rating="4.5"></div>
              </div>
            </div>
            <h3 class="catalog-card__title">Ананас, 1кг</h3>
            <div class="catalog-card__bottom">
              <div class="catalog-card__price">
                <span class="catalog-card__old-price old-price">199 ₴</span>
                <span class="catalog-card__new-price new-price">99 ₴</span>
              </div>
              <button class="catalog-card__bottom-btn" type="button">
                <svg width="16" height="16">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="recent__slider-item">
        <article class="catalog-card">
          <button class="catalog-card__top-btn" type="button">
            <svg width="32" height="28">
              <use xlink:href="images/sprite.svg#favorite"></use>
            </svg>
          </button>
          <a class="catalog-card__link" href="#">
            <img class="catalog-card__img" width="300" height="225" src="images/catalog/2.png" alt="Товар">
            <div class="catalog-card__link--hover">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
            </div>
          </a>
          <div class="catalog-card__wraper">
            <div class="catalog-card__wraper-top">
              <span class="available">В наличии</span>
              <div class="rating">
                <span class="rating__counter">4.5</span>
                <div class="rating__star" data-rateyo-rating="4.5"></div>
              </div>
            </div>
            <h3 class="catalog-card__title">Лимон, 1кг</h3>
            <div class="catalog-card__bottom">
              <div class="catalog-card__price">
                <span class="catalog-card__new-price new-price">49 ₴</span>
              </div>
              <button class="catalog-card__bottom-btn" type="button">
                <svg width="16" height="16">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="recent__slider-item">
        <article class="catalog-card">
          <div class="catalog-card__badges badges">
            <span class="available">Хит</span>
          </div>
          <button class="catalog-card__top-btn" type="button">
            <svg width="32" height="28">
              <use xlink:href="images/sprite.svg#favorite"></use>
            </svg>
          </button>
          <a class="catalog-card__link" href="#">
            <img class="catalog-card__img" width="300" height="225" src="images/catalog/3.png" alt="Товар">
            <div class="catalog-card__link--hover">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
            </div>
          </a>
          <div class="catalog-card__wraper">
            <div class="catalog-card__wraper-top">
              <span class="available">В наличии</span>
              <div class="rating">
                <span class="rating__counter">4.5</span>
                <div class="rating__star" data-rateyo-rating="4.5"></div>
              </div>
            </div>
            <h3 class="catalog-card__title">Питахайя красная с белой мякотью, 1шт</h3>
            <div class="catalog-card__bottom">
              <div class="catalog-card__price">
                <span class="catalog-card__new-price new-price">101 ₴</span>
              </div>
              <button class="catalog-card__bottom-btn" type="button">
                <svg width="16" height="16">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="recent__slider-item">
        <article class="catalog-card">
          <div class="catalog-card__badges badges">
            <span class="available">Хит</span>
          </div>
          <button class="catalog-card__top-btn" type="button">
            <svg width="32" height="28">
              <use xlink:href="images/sprite.svg#favorite"></use>
            </svg>
          </button>
          <a class="catalog-card__link" href="#">
            <img class="catalog-card__img" width="300" height="225" src="images/catalog/5.png" alt="Товар">
            <div class="catalog-card__link--hover">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
            </div>
          </a>
          <div class="catalog-card__wraper">
            <div class="catalog-card__wraper-top">
              <span class="not-available">Нет в наличии</span>
              <div class="rating">
                <span class="rating__counter">4.5</span>
                <div class="rating__star" data-rateyo-rating="4.5"></div>
              </div>
            </div>
            <h3 class="catalog-card__title">Морковь молодая с бабушкиной грядки, 1кг</h3>
            <div class="catalog-card__bottom">
              <div class="catalog-card__price">
                <span class="catalog-card__new-price new-price">19 ₴</span>
              </div>
              <button class="catalog-card__bottom-btn" type="button">
                <svg width="16" height="16">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="recent__slider-item">
        <article class="catalog-card">
          <div class="catalog-card__badges badges">
            <span class="discount">-30%</span>
          </div>
          <button class="catalog-card__top-btn" type="button">
            <svg width="32" height="28">
              <use xlink:href="images/sprite.svg#favorite"></use>
            </svg>
          </button>
          <a class="catalog-card__link" href="#">
            <img class="catalog-card__img" width="300" height="225" src="images/catalog/6.png" alt="Товар">
            <div class="catalog-card__link--hover">
              <svg width="32" height="28">
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
            </div>
          </a>
          <div class="catalog-card__wraper">
            <div class="catalog-card__wraper-top">
              <span class="available">В наличии</span>
              <div class="rating">
                <span class="rating__counter">4.5</span>
                <div class="rating__star" data-rateyo-rating="4.5"></div>
              </div>
            </div>
            <h3 class="catalog-card__title">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
              безалкогольн...</h3>
            <div class="catalog-card__bottom">
              <div class="catalog-card__price">
                <span class="catalog-card__old-price old-price">49 ₴</span>
                <span class="catalog-card__new-price new-price">19 ₴</span>
              </div>
              <button class="catalog-card__bottom-btn" type="button">
                <svg width="16" height="16">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>